.homebutton-container{
  padding: .5rem;
  font-size: 1.5rem;
  font-family: var(--head-font);
  font-weight: 700;
  width: max-content;
  outline: none !important;
  margin-top: 1.5rem;
  cursor: pointer;
  background-color: transparent;
  border: black 1px solid;
  border-radius: 5px;
  align-self: center;
}