.navbar-container{
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
  padding: 1rem;
  width: 100vw;
}
.navlink{
  font-family: var(--head-font);
  font-weight: bolder;
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--purple);
}
.navlinks-container{
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media (max-width: 450px) {
  .navbar-container {
    padding: 1rem 0.5rem;
  }
  .navlink{
    font-size: 1.1rem;
  }
}
@media (max-width: 350px) {
  .navbar-container {
    padding: 1rem 0rem;
  }
  .navlink {
    font-size: 1rem;
  }
}